{% extends "base.html" %}
{% block extra-style %}
{% include "schedule_style.html" %}
{% endblock %}
{% load widget_tweaks %}
{% block title %}login.html{% endblock %}
{% block content %}
<div class="container vertical-center"  style="width:60%;">
    <main role="main" class="inner cover">
    <form action="." method="post" class="card pt-1" style="background-color: #000000;">
        <h1 class="form-group row justify-content-center text-light">Login</h1>
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold">
                Wrong! Please correct the error(s) below.
            </div>
            {{ form.errors }}
        </div>
        {% endif %}
            <div class="form-group row justify-content-center">
                <div class="col-form-label text-light">ID : </div>
                <div class="col-sm-8">
                    {{ form.username|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-form-label text-light">PW: </div>
                <div class="col-sm-8">
                    {{ form.password|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-1">
                    <button type="submit" class="btn background-color: #000000 " style="float:right;">
                        <div class="text-light"><i class="fas fa-sign-in-alt"> Login</i></div>
                    </button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </div>
        </form>
</div>
</main>
</div>
{% endblock %}
