{% extends "base.html" %}
{% block extra-style %}
{% include "schedule_style.html" %}
{% include "top_design.html" %}
{% endblock %}
{% block title %}register_done.html{% endblock %}
{% block content %}
<div class="scheduleDetail">
    <h2>Registration Completed Successfully</h2>
    <div style="background-color: #343A40">
        <br>
        <p style="text-align:center; color:white">Thank you for registering.</p>
        <div class="submitButton">
            <button type="submit" class="btn btn-dark" onclick="location.href='{% url 'login' %}'">
                    <i class="fas fa-sign-in-alt"> Login</i>
            </button>
        </div>
    </div>
</div>
{% endblock %}