.jumbotron{
    height: 100vh;
    margin-bottom: 0px;
    background-color: black;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  align-items: center;
}
.avata-sm {border-radius: 50%;width: 25px;height: 25px; }
.avata {border-radius: 50%; width: 50px; height: 50px; }
.avata-lg { border-radius: 0%; width: 200px; height: 200px; margin: 0 0 20px 0; }