{% extends "base.html" %}
{% block extra-style %}
{% include "schedule_style.html" %}
{% include "top_design.html" %}
{% endblock %}
{% load widget_tweaks %}
{% block title %}ProfileUpdate.html{% endblock %}
{% block content %}
<div class="scheduleDetail">
    <img src="{% url 'avata' user.id%}" class="avata-lg">
          <h2>Profile of {{user.username}}</h2>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table class="mypageTable">
            <tr>
                <td class="mypageTd">Nick Name : </td>
                <td class="mypageTd">{{ form.nickname|add_class:"form-control"|attr:"autofocus" }}</td>
            </tr>
            <tr>
                <td class="mypageTd">Phone : </td>
                <td class="mypageTd">{{ form.phoneNumber|add_class:"form-control" }}</td>
            </tr>
            <tr>
                <td class="mypageTd">Address : </td>
                <td class="mypageTd">{{ form.address|add_class:"form-control" }}</td>
            </tr>
        </table>

        <div class="form-group submitButton" style="margin:1%">
            <i class="far fa-paper-plane">
            <input type="submit" value="Submit" class="btn btn-dark"/></i>
        </div>
    </form>
</div>
{% endblock %}
