<style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 20;
    position: relative;
  }

  #calendar {
    height: 99%;
    box-sizing: border-box;
    padding: 0.5%;
  }

  .calendar__day {
    display: inline-block;
    vertical-align: bottom;
    width: calc(97% / 7);
    height: calc(98% / 5);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
  }

  .horizontalGutter {
    margin-right: 0.5%;
  }

  .verticalGutter {
    margin-top: 0.5%;
  }

    .modal-dialog.modal-fullsize {
        width: 100%;
        height: 100%;
        margin: 10%;
        padding: 0%;
        vertical-align: middle;
        horizontal-align: middle;
    }
    .modal-content.modal-fullsize {
      height: auto;
      min-height: 70%;
      border-radius: 0;
    }
}
</style>