var printHoliday = 0;
setInterval(function(){
    const today = new Date();
    if(printHoliday == 0 && get_arrCal == true ){
        printHoliday = 1;
        for(var idx in arrCal){

        //공휴일 추가 id='${year}${month}${setFixDayCount(startDayCount++)}'
            var id_chk = String(today.getFullYear()) + String(today.getMonth()+1+count) + String(idx);
            console.log(id_chk)
            if (today.getMonth()+1+count < 10) {
              id_chk = String(today.getFullYear()) + "0" + String(today.getMonth()+1+count) + String(idx);
            }
            let item = document.getElementById(id_chk);
            item.innerHTML += " " + arrCal[idx];
        }
    }
    }, 100);

function numberPad(n, width) {
    n = n + '';
    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
}

function javaCovDate(date) {
    var splitbyYear = date.split('년');
    var year = splitbyYear[0];
    var splitbyMonth = splitbyYear[1].split('월');
    var month = splitbyMonth[0];
    month = numberPad(Number(month), 2);
    var splitbyDay = splitbyMonth[1].split('일');
    var day = splitbyDay[0];
    day = numberPad(Number(day), 2);
    javaScheduleDate = year+month+day;
    return javaScheduleDate
}

var isprintEvent = true;
setInterval(function(){
    var arrNumber = {}
    {% for schedule in schedule_list %}
    arrNumber[javaCovDate("{{schedule.schedule_date}}")] += "{{schedule.title}}"+"<br>";
    {% endfor %}
    if (isprintEvent == true){
        isprintEvent = false;
    console.log(arrNumber)
        for(var idx in arrNumber){
            var id_chk = String(idx);
            console.log(id_chk)
            if (today.getMonth()+1+count < 10) {
              id_chk = String(today.getFullYear()) + "0" + String(today.getMonth()+1+count) + String(idx);
            }
            let item = document.getElementById(id_chk);
            item.innerHTML += " " + arrNumber[idx];
        }
    }
    }, 100);