{% extends "base.html" %}
{% block title %}uhmmm.html{% endblock %}
{% block content %}
<h1>왜 아무것도 안나옴</h1>
{% for Schedule in Schedule_list %}
<p id="{{Schedule.schedule_date}}"></p><br>
{% endfor %}
<a class="nav-link text-black" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
<script>
        {% for Schedule in Schedule_list %}
        let item = document.getElementById("{{Schedule.schedule_date}}");
        {% endfor %}
        {% for Schedule in Schedule_list %}
        item.innerHTML+="{{Schedule.title}}"+"<br>";
        {% endfor %}
</script>
{% endblock %}