<style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 20;
    position: relative;
  }

  #calendar {
    height: 99%;
    box-sizing: border-box;
    padding: 0%;
  }

  .calendarDay{
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    width: calc(100% / 7);

    background-color: #343A40;
  }

  .calendar_day {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% / 7);
    height: calc(100% / 5);
    height: calc(92% / 6);
    box-sizing: border-box;
    border-radius: 0px;

    border-bottom: thin groove #c2c2c2;
    border-right: thin groove #c2c2c2;
    padding: 10px;

    color: #FFFFFF;
    background-color:#343A40;
  }

  .today {
    background-color: #4b5157;
    //font-weight: bold;
  }

  .dropdown-menu a:hover {background-color: #4b5157;}

  .dropdown-menu-right {
    display: none;
    position: absolute;
    float: right;
    right: 0;
    text-align:right;
    background-color: #343A40;
  }
</style>