<style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 20;
    position: relative;
  }

  #calendar {
    height: 99%;
    box-sizing: border-box;
    padding: 0%;
  }

  .calendarDay{
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    width: calc(100% / 7);

    background-color: #343A40;
  }

  .calendar__day {
    display: inline-block;
    width: calc(100% / 7);
    height: calc(92% / 6);
    box-sizing: border-box;

    padding: 10px;
    color: #FFFFFF;
    background-color:#343A40;

    border-bottom: thin groove #c2c2c2;
    border-right: thin groove #c2c2c2;
  }


}
</style>