//오늘 날짜 기준으로 달 계산
const today = new Date();
today.setMonth(today.getMonth() + count);

//좌우 버튼, 년월 출력
let calHtml = "";
calHtml += `
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="height: 100px;" >

    {# 홈버튼 #}
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item btn btn-dark">
                <a class="nav-link text-white" href="{% url 'home' %}">
                    <i class="fas fa-home"></i></a>
            </li>
        </ul>
    </div>

    {# 년, 월 #}
    <div class="navbar-nav mx-auto order-0">
        <h1 align="center" class="text-white">
            <button type="button" class="btn btn-outline-white" onclick=button_onclick(-1)>
                <i class="fas fa-chevron-left text-white"></i></button>
            ${today.getFullYear()}, ${today.getMonth() + 1}
            <button type="button" class="btn btn-outline-white" onclick="button_onclick(1)">
                <i class="fas fa-chevron-right text-white"></i></button>
        </h1>
    </div>

    {# 아바타, 로그인, 회원가입 #}
    <div class="navbar-nav" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown mx-1 btn">
                {% if user.is_active %}
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                    <img src="{% url 'avata' user.id%}" class="avata-sm">
                    <i class="fas fa-user"></i>&nbsp{{user.username }} </a>
                <div class="dropdown-menu"  style="background-color: #343A40;">
                    <a class="dropdown-item text-white" href="{% url 'mypage_index' user.id%}">Mypage</a>
                    <a class="dropdown-item text-white" href="{% url 'avata_add' user.id %}">Avata</a>
                    <a class="dropdown-item text-white" href="{% url 'logout' %}">Logout</a>
                    <a class="dropdown-item text-white" href="{% url 'password_change' %}">Change Password</a>
                </div>


                {% else %}
                <a class="nav-link dropdown-toggle ml-auto text-white" href="#"
                   data-toggle="dropdown">
                    <i class="fas fa-user"></i>&nbsp Anonymous</a>
                <div class="dropdown-menu" style="background-color: #343A40;">
                    <a class="dropdown-item text-white" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item text-white" href="{% url 'register' %}">Register</a>
                </div>

                {% endif %}
            </li>
        </ul>
    </div>

</nav>
`;

//버튼 클릭시 count, 링크
function button_onclick(a){
    count += a;
    location.href='http://127.0.0.1:8000/prev?count='+ count;
}

