//오늘 날짜 기준으로 달 계산
const today = new Date();
const todayDate = today.getDate();
today.setDate(1);
today.setMonth(today.getMonth() + count);

//좌우 버튼, 년월 출력
let calHtml = "";
calHtml += `
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="height: 100px;" >

    {# 홈버튼 #}
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item btn btn-dark">
                <a class="nav-link text-white" href="{% url 'home' %}">
                    <i class="fas fa-home"></i></a>

            </li>
        </ul>
    </div>

    {# 년, 월 #}
    <div class="navbar-nav mx-auto order-0">
        <h1 align="center" class="text-white">
            <button type="button" class="btn btn-outline-white" onclick=button_onclick(-1)>
                <i class="fas fa-chevron-left text-white"></i></button>
            ${today.getFullYear()}, ${today.getMonth() + 1}
            <button type="button" class="btn btn-outline-white" onclick="button_onclick(1)">
                <i class="fas fa-chevron-right text-white"></i></button>
        </h1>
    </div>

    {# 아바타, 로그인, 회원가입 #}
    <div class="navbar-nav" style="float: right;">
        <ul class="navbar-nav mr-auto" style="float: right;">
            <li class="nav-item dropdown mx-1 btn" style="left: auto; right:0; margin-right:-10px;">

                {% if user.is_active %}
                <div class="w3-container">
                    <div class="w3-dropdown-hover w3-right">
                        <button class="w3-dropdown-hover text-white" style="background-color: #343A40; border-width: 0;">
                            <img src="{% url 'avata' user.id%}" class="avata-sm">
                            &nbsp{{user.username }} </button>
                        <div class="w3-dropdown-content w3-bar-block"  style="background-color: #343A40; right:0;">
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'mypage_index' user.id%}">Mypage</a>
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'avata_add' user.id %}">Avata</a>
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'logout' %}">Logout</a>
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'password_change' %}">Change Password</a>
                        </div>
                    </div>
                </div>

                {% else %}
                <div class="w3-container">
                    <div class="w3-dropdown-hover w3-right">
                        <button class="w3-dropdown-hover  text-white" style="background-color: #343A40; border-width: 0;">
                            <i class="fas fa-user"></i>&nbsp Anonymous </button>

                        <div class="w3-dropdown-content w3-bar-block"  style="background-color: #343A40; right:0;">
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'login' %}">Login</a>
                            <a class="w3-bar-item w3-button text-white" style="text-align: right;" href="{% url 'register' %}">Register</a>
                        </div>
                    </div>
                </div>

                {% endif %}
            </li>
        </ul>
    </div>

</nav>
`;

//버튼 클릭시 count, 링크
function button_onclick(a){
    count += a;
    location.href='http://127.0.0.1:8000/prev?count='+ count;
}

