const setCalendarData = (year, month) => {
  const today_chk = new Date();
  const setDate = new Date(year, month - 1, 1);
  const firstDay = setDate.getDate();
  const firstDayName = setDate.getDay();

  const lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0).getDate();
  const prevLastDay = new Date(today.getFullYear(), today.getMonth(), 0).getDate();

  //(“0” + (this.getMonth() + 1)).slice(-2);
  const prev_year = new Date(today.getFullYear(), today.getMonth()+count).getFullYear();
  const prev_month = ("0" + (new Date(today.getFullYear(), today.getMonth()+count).getMonth())).slice(-2);
  const next_year = new Date(today.getFullYear(), today.getMonth() + 1+count).getFullYear();
  const next_month = ("0" + (new Date(today.getFullYear(), today.getMonth()+1+count).getMonth()+1)).slice(-2);

  let startDayCount = 1;
  let lastDayCount = 1;

  //요일 출력
  calHtml += `<div class="calendarDay">SUN</div>`;
  calHtml += `<div class="calendarDay">MON</div>`;
  calHtml += `<div class="calendarDay">TUE</div>`;
  calHtml += `<div class="calendarDay">WED</div>`;
  calHtml += `<div class="calendarDay">THU</div>`;
  calHtml += `<div class="calendarDay">FRI</div>`;
  calHtml += `<div class="calendarDay">SAT</div>`;
  calHtml += `<div style="height:3px; background-color:#343A40;"></div>`;


  //달력출력
  for (let i = 0; i < 6; i++) {
    for (let j = 0; j < 7; j++) {
      //이전 달
      if (i == 0 && j < firstDayName) {
        calHtml +=
        `<div class='calendar_day text-white-50' onclick=calDay_click('${prev_year}','${prev_month}','${(prevLastDay-(firstDayName-1)+j)}')>
            ${(prevLastDay - (firstDayName - 1) + j)}</div>`;
      }

      //이번 달
      else if ((i == 0 && j >= firstDayName)||(i > 0 && startDayCount <= lastDay)) {

        //오늘
        if (startDayCount == todayDate && setDate.getMonth() == today_chk.getMonth()){
          calHtml +=
          `<div type="button" class='calendar_day today' onclick=calDay_click('${year}','${month}','${setFixDayCount(startDayCount)}') >${startDayCount}
            <span id='${year}${month}${setFixDayCount(startDayCount++)}' style="float: right;"></span>
            </div>`;
        }
        else{
          calHtml +=
          `<div type="button" class='calendar_day' onClick=calDay_click('${year}','${month}','${setFixDayCount(startDayCount)}')>${startDayCount}
            <span id='${year}${month}${setFixDayCount(startDayCount++)}' style="float: right;"></span></div>`;

        }
      }

      // 다음 달
      else if (startDayCount > lastDay) {
        calHtml +=
            `<div class='calendar_day text-white-50' onClick=calDay_click('${next_year}','${next_month}','${setFixDayCount(lastDayCount)}')>${lastDayCount++}</div>`;
      }
    }
  }
  document
    .querySelector("#calendar")
    .insertAdjacentHTML("beforeend", calHtml);

  //CLICK, HOVER 함수
  let items = document.getElementsByClassName('calendar_day')
  let Today = document.getElementsByClassName('today')



  for(let item of items){

        item.onmouseover = function(e){
            let target = e.target;
            target.style.cursor = 'pointer';
            target.style.backgroundColor = '#4b5157';
        }
        item.onmouseout = function(e){
            let target = e.target;
            target.style.cursor = 'default';
            if (target != Today[0]){
              target.style.backgroundColor = '#343A40';
            }
        }
    };

};

const setFixDayCount = number => {
  let fixNum = "";
  if (number < 10) {
    fixNum = "0" + number;
  } else {
    fixNum = number;
  }
  return fixNum;
};

if (today.getMonth() + 1 < 10) {
  setCalendarData(today.getFullYear(), "0" + (today.getMonth() + 1));
} else {
  setCalendarData(today.getFullYear(), "" + (today.getMonth() + 1));
}

function calDay_click(x, y, z){
      location.href='/schedule/schedule/'+x+'-'+y+'-'+z;
}