{% extends "base.html" %}
{% block title %}Calendar{% endblock %}

{% block extra-style %}
{% include "home_cal_style.html" %}
{% endblock %}

{% block content %}
<div id="calendar"></div>
<script>

//url로 부터 변수 저장, 여기서는 count가 저장된다.
let url = location.href;
var cut = url.indexOf("?");
var check = url.substring(cut + 1)
var varList = check.split("&")
var forCount = varList.length
for(i=0;i < forCount;i++){
    eval(varList[i])
}

{% include "home_top.html" %}

//캘린더 출력
{% include "home_cal_table.html" %}

</script>
{% endblock %}
