<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-fullsize">
                <div class="modal-content modal-fullsize">
                        <div class="modal-header">Scheduling..</div>
                        <div class="modal-body">

                                {% include "schedule/schedule_list.html" %}

                        </div>
                        <div class="modal-footer">
                                <a href="{url './schedule/schedule_list.html'}">
                                <button id="write_button">추가</button></a>
                                <button id="confirm_button">저장</button>
                                <button data-dismiss="modal">닫기</button>
                        </div>
                </div>
        </div>
</div>
