<style>

  .scheduleDetail{
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #343A40;

  }

  body {
    background-color: #343A40;
    height: 99%;
  }

  #loginBefore{
    position: absolute;
    padding: 200px;
  }

  table {
  border-collapse: collapse;
  margin-top: 2%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  }

th{
  text-align: left;
  border-bottom: 3px solid #ddd;
  font-weight: 600;
}
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#plus{
    margin-left:auto;
}
.title{
    padding: 6px;
    width: 15%;
}
.description{
    padding: 6px;
    width: 45%;
}
.icon{
    text-align: right;
    width: 10%;
}

  li {
    margin: 1%;
  }

  form {
    background-color: #343A40;
  }

  #submitButton{
    float: right;
  }

  .mypageTable {
      border-collapse: collapse;
      margin-top: 2%;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      cellpadding: 50%;
  }
  .mypageTd {
    border-bottom: 2px solid #ddd;
    padding: 2%;
  }
</style>