<style>
    .scheduleDetail{
        text-align: center;
        font-size: 1.1em;
        color: #ffffff;
        background-color: #343A40;
    }

    body {
        background-color: #343A40;
        height: 99%;
    }

    #loginBefore{
        position: absolute;
        padding: 200px;
    }

    table {
        border-collapse: collapse;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    th{
        text-align: left;
        border-bottom: 3px solid #ddd;
        font-weight: 600;
    }

    tr {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    td {
        border-bottom: none;
        text-align: left;
    }

    #plus{margin-left:auto;}

    .title{
        padding: 6px;
        width: 15%;
        vertical-align:top;
    }

    .content{
        padding: 6px;
        width: 45%;
    }

    .icon{
        text-align: right;
        width: 10%;
        vertical-align:top;
    }

    li {margin: 1%;}

    form {background-color: #343A40;}

    #submitButton{float: right;}

    .mypageTable {
        border-collapse: collapse;
        margin-top: 2%;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        cellpadding: 50%;
    }

    .mypageTd {
        border-bottom: 2px solid #ddd;
        padding: 2%;
    }

    .dropdown-menu a:hover {background-color: #4b5157;}

    .dropdown-menu-right {
        display: none;
        position: absolute;
        right: 0;
        text-align:right;
        background-color: #343A40;
    }

</style>