{% extends "base.html" %}
{% block extra-style %}
{% include "schedule_style.html" %}
{% endblock %}
{% block title %}schedule_detail.html{% endblock %}
{% block content %}
<div class="scheduleDetail">
    {% if user.is_active%}
    <div>
    <a href="{% url 'home' %}" class="btn btn-dark btn-sn" style="margin: 0 67% 0 0;">
            <i class="fas fa-home"></i></a>
    </div>
    <h3>{{schedule.schedule_date|date:"Y, m월 d일"}}</h3>

    <table>
        <tr>
            <th class="title">Title</th>
            <th class="description">Description</th>
            <th class="icon"><a href="{% url 'schedule:add' schedule.date %}" class="btn btn-dark btn-sn">
            <i class="fas fa-plus"></i></a></th>
        </tr>
    {% for schedule in schedule.schedules %}
        <tr>
            <td class="title">{{schedule.title}}</td>
            <td class="description">{{schedule.description}}</td>
            <td class="icon"> <a href="{% url 'schedule:update' schedule.pk %}" class="btn btn-dark btn-sn">
                                <i class="fas fa-pencil-alt"></i></a>
            <a href="{% url 'schedule:delete' schedule.pk %}" class="btn btn-dark btn-sn">
        <i class="fas fa-eraser"></i></a></td>
        </tr>

    <br/>
    {% endfor %}
    </table>

    {% else %}
    <div id="loginBefore">
        <h5>로그인 후 이용해주세요. :)</h5></br>
        <button class="btn btn-dark" onclick="location.href='{% url 'login' %}'"><i class="fas fa-sign-in-alt"></i>
            Login
        </button>

    </div>
    {% endif %}

</div>
{% endblock %}