{% extends "base.html" %}
{% block title %}schedule_list.html{% endblock %}
{% block content %}
<div>
<h3>Schedule List!!!!!!!!!!!!!</h3>
    {% if user.is_active %}
        <ul>
            {% for schedule in schedule_list %}
            <li>
                [{{schedule.schedule_date|date:"Y년 m월 d일"}}]: {{schedule.title}}/ {{schedule.description}}
            </li><br/>
            {% endfor %}
        </ul>
        <div class="text-right mr-3">
        <a href="{% url 'schedule:add' %}" class="btn btn-info btn-sn">
            <i class="fas fa-pencil-alt"></i>추가</a>
        </div>
    {% else %}
        <p>스케줄을 추가해주세요 :)</p>
        <div class="text-right mr-3">
        <a href="{% url 'schedule:add' schedule.date %}" class="btn btn-info btn-sn">
            <i class="fas fa-pencil-alt"></i>추가</a>
        </div>
    {% endif %}
</div>
{% endblock %}
